# Sample environment variables for the OpenLinkHub metrics exporter

# OpenLinkHub API (host where metrics are collected)
OLHURL="<OPENLINKHUB_API_URL>"
OLHHOST="<HOSTNAME>"
#OLHDEVICE="<DEVICEID>"

# InfluxDB connection details
INFLUX_URL="<INFLUXDB_URL>"
INFLUX_ORG="<ORG>"
INFLUX_DB="<BUCKET>"
INFLUX_TOKEN="<TOKEN>"
